<!DOCTYPE html>
<html>
  <head>
      <title></title>
      <link rel="stylesheet" href="/public/assets/styles.css">
  </head>
  <body>
     <h1>Todo List</h1>
     <div id="todo-table">
         <form method="post" action="/add">
             <input type="text" name="item" placeholder="Add Item" required />
             <button type="submit">Add Item</button>
         </form>
         <ul>
             <% items.forEach(function (item) { %>
                 <li><%= item.item %></li>
             <% }); %>

         </ul>
     </div>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script type="text/javascript" src="/public/assets/todo-list.js"></script>
  </body>
</html>